// Light theme colors
// backgroud
$white: #FFFFFF;
// font
$font: #2D2D2D;
$font-purple: #A445ED;
// input
$input-bg: #F4F4F4;
$input-icon: #A445ED;
$input-border: #A445ED;
$input-border-error: #FF5252;
// purple-color
$purple: #A445ED;
$line: #e9e9e9;
//box shadow
$box-shadow: #00000033;
$theme-bg: #979797;


//Dark theme colors
// backgroud
$dark-theme-background: #151515;
// font
$dark-theme-font: #F2F2F2;
$dark-theme-font-purple: #A445ED;
// input
$dark-theme-input-bg: #1F1F1F;
$dark-theme-input-icon: #A445ED;
$dark-theme-input-border: #A445ED;
$dark-theme-input-border-error: #FF5252;
// purple-color
$dark-theme-purple: #A445ED;
//box shadow
$dark-theme-box-shadow: #a445ed;
